
body {
   margin: 0;
   background: black;
   color: white;
}

#body-center {
   position: relative;
   display: table;
   margin: 0 auto;
   width: 800px;
}

h1 {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

#room-view {
   position: relative;
   display: table;
   margin: 150px auto;
   width: 400px;
}

.rotate-container {
   display: table;
   margin: 10px auto;
}

#rotate-left, #rotate-right, #rotate-left:visited, #rotate-right:visited {
   color: white;
   font-size: 4em;
   text-decoration: none;
   position: absolute;
   top: 300px;
}

#rotate-left {
   right: 50px;
}

#rotate-right {
   left: 50px;
}

/* === Room === */

#room {
   color: black;
   transform-style: preserve-3d;
   transition: transform 3s;
   opacity: 0;
}

.roomjl-obj {
   transform-style: inherit;
}

.cssjl-quad {
   position: absolute;
   backface-visibility: hidden;
   outline: 1px solid gray;
   /* perspective: 600px; */
}

.tv-left-t {
   border-top: 0;
   border-left: 40px solid transparent;
   border-right: 40px solid dimgray;
   border-bottom: 40px solid dimgray;
   outline: none;
}

.tv-right-t {
   border-top: 0;
   border-right: 40px solid transparent;
   border-left: 40px solid dimgray;
   border-bottom: 40px solid dimgray;
   outline: none;
}

.wall {
   background: url( textures/drywall.png ) !important;
}

.sill {
   background: url( textures/wood2.png ) !important;
}

.floor {
   background: url( textures/carpet-blue.jpg ) !important;
}

.carpet {
   border-radius: 20px;
}

.carpet-red {
   background: url( textures/carpet-red.jpg ) !important;
}

.desk {
   background: url( textures/wood.jpg ) !important;
}

.table {
   background: url( textures/wood.jpg ) !important;
}

.pane {
   background: url( textures/clouds1_west.jpg ) !important;
}

/* === Furniture === */


