
body {
   margin: 0;
   background: black;
   color: white;
}

#room-view {
   position: relative;
   display: block;
   margin: 150px auto;
   width: 300px;
}

#rotate-left {
   position: absolute;
   left: 150px;
}

#rotate-right {
   position: absolute;
   right: 150px;
}

/* === Room === */

#room {
   color: black;
   transform-style: preserve-3d;
   transition: transform 3s;
   opacity: 0;
}

.roomjl-obj {
   transform-style: inherit;
}

.cssjl-quad {
   position: absolute;
   backface-visibility: hidden;
   outline: 1px solid gray;
   /* perspective: 600px; */
}

.wall {
   background: url( textures/drywall.png ) !important;
}

.floor {
   background: url( textures/carpet-blue.jpg ) !important;
}

.carpet {
   border-radius: 20px;
}

.carpet-red {
   background: url( textures/carpet-red.jpg ) !important;
}

.desk {
   background: url( textures/wood.jpg ) !important;
}

.pane {
   background: url( textures/clouds1_west.jpg ) !important;
}

/* === Furniture === */


