
body {
   margin: 0;
   background: black;
   color: white;
}

#room-view {
   position: relative;
   display: block;
   margin: 300px auto;
   width: 300px;
}

/* === Room === */

#room {
   color: black;
   transform-style: preserve-3d;
   transform: rotate3d( -1, 0, 0, 25deg ) rotate3d( 0, 1, 0, 45deg );
}

.wall-floor {
   position: absolute;
   display: inline-block;
   margin: 0;
   backface-visibility: inherit;
   /* perspective: 600px; */
}

.wall {
   width: 400px;
   height: 300px;
}

#wall-west {
   background: white;
   transform: translateZ( -200px );
}

#wall-east {
   background-color: gray;
   transform: rotateY( -90deg ) translateZ( -200px );
}

#floor {
   background: blue;
   width: 400px;
   height: 400px;
   transform: rotateX( 90deg ) translateZ( -100px );
}

/* === Furniture === */


